@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,500&display=swap");

body {
  background-color: black;
  color: green;
  font-family: "Roboto Mono", monospace;
}
.container {
  background-color: black;
  margin: 50px auto 0 auto;
  padding: 20px;

  /*   width: 50%;
  border: 5px solid yellow;
  border-top: 30px solid yellow; */
}
.bold {
  color: blue;
}
.input {
  background-color: black;
  border: none;
  color: green;
  cursor: wait;
  cursor: wait green;
  outline: none;
}
.link {
  color: purple;
}
.quote {
  font-style: italic;
  font-weight: 300;
}
.quote:nth-child(odd) {
  color: orange;
}
.quote:nth-child(even) {
  color: yellow;
  font-weight: 200;
}
.option p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.options .option {
  justify-self: left;
  text-align: left;
}
.options .description {
  justify-self: right;
  text-align: right;
}
